body {
    margin: 0;
    padding: 0;
    background: #CFE2C4;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #1B1B1B;
}

#content {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    width: 640px;
    background-color: #F4FFF9;
    border: 3px solid #CCC;
}

a {
    color: #7C4035;
    text-decoration: none;
}

a:hover {
    color: #F4FFF9;
    background-color: #7C4035;
}

li {
    margin-bottom: 0.8em;
}

#flash {
    background: #E2F9E3 none repeat scroll 0% 0%;
    border-bottom: 1px solid #99CC99;
    border-top: 1px solid #99CC99;
    color: black;
    font-size: 14px;
    padding: 6px;
    width: 98%;
}

#error {
    background: #FFCCCC none repeat scroll 0% 0%;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
    font-size: 0.9em;
    padding: 6px;
    width:98%;
}

input {
    border: 1px solid #666;
    font-size: 1.2em;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type="button"], input[type="submit"] {
    margin-top: 20px;
}

input[type="button"]:focus, input[type="submit"]:focus {
}

input[type="text"]:focus, input[type="password"]:focus {
    background-color: #FFFFCC;
    border-color: #666;
}
