<h1>Revisions of <%= @page.name %></h1>

<ul>
  <% for revision in @revisions %>
    <li>
      <%= link_to revision.created_at.to_s, [@page, revision] %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to #{@page.name}", @page %>
