<%= wikify @revision.content %>

<p>
  <% if @revision.minor? -%>
    Minor change
  <% else -%>
    <b>Comment:</b>
    <%=h @revision.comment %>
  <% end -%>
</p>

<p>
  <b>User:</b>
  <%=h @revision.user %>
</p>

<%= link_to 'Back', page_revisions_path(@page) %>
