<h1>Tabla</h1>

<% unless logged_in? -%>
<p>
  <%= link_to "Login", login_path %>
  or
  <%= link_to "Register", registration_path %>
</p>
<% else -%>
  <%= link_to "Registration codes", registration_codes_path %>
  <br />
  <%= link_to "Logout", logout_path %>
<% end -%>
