<h1>Listing pages</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Creator</th>
  </tr>

<% for page in @pages %>
  <tr>
    <td><%=link_to h(page.name), page %></td>
    <td><%=h page.user.nickname %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New page', new_page_path %> |
<%= link_to 'Home', root_path %>
